{% extends 'base.html' %}

{% block content %}
<main class="container is-max-desktop p-2">
  <form class="p-2" method="POST" action="{% url 'login' %}">
    <h1 class="title">Log In</h1>
    {% csrf_token %}
    {% for field in form %}
     <div class="field">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
     </div>
    {% endfor %}
    <button class="button" type="submit">Log In</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</main>
{% endblock %}