{% extends 'base.html' %}
{% block content %}
  <main class="container is-max-desktop p-2">
    
    <form action="{% url 'signup' %}" method="POST">
      <h1 class="title">Sign Up</h1>
    
      <p>{{error_message}}</p>
      {% csrf_token %}
      {% for field in form %}
      <div class="field">
         {{ field.errors }}
         {{ field.label_tag }} {{ field }}
         {% if field.help_text %}
           <p class="help">{{ field.help_text|safe }}</p>
         {% endif %}
      </div>
     {% endfor %}
      <button class="button" type="submit">Sign Up</button>
    </form>
  </main>

{% endblock %}